<form action="/cart" method="POST">
    <div class="card__actions">
        <button class="btn" type="submit">Add to Cart</button>
        <input type="hidden" name="productId" value="<%= product._id %>">
    </div>
</form>